

.wd-rounded-corners-all-around {
border-radius: 50px;
background-color: lightgray;
color:darkgray;
bottom: 30px;
left: 30px;
width: 100%;
height: 20px;
   }

   .wd-magnifying-glass {
    width: 100%;
    height: 100%;
    border: 0px solid black;
    border-radius: 0%;
    position: relative;
    bottom:23px;
    right: -5px;
    /*display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;*/
  }
  
  .wd-magnifying-icon {
    font-size: 17px;
  }

  /* .gear{
    font-size:23px;
    width: 100px;
    height: 100px;
    border: 0px solid black;
    border-radius: 0%;
    position: relative;
    bottom: 125px;
    right: -70px;
  } */

  .wd-gear{
    width: 5%;
    float: right;
    text-align: left;
    height: 20%;
    font-size: x-large;
  }
 

  .wd-percentage-80{
    width: 90%;
    float: left; 
  }

  .wd-li-horizontal {
    display: inline-block;
    margin-right: 140px; 
  }

  .wd-ul-horizontal
  {
    position: relative; 
    float: left;  
  }


  .wd-Lists{
    width: 100%;
    position: relative;
  }

  .wd-for-you{
    padding: 13px;
    border-bottom: blue solid;
    font-weight: bold;
  }

  .wd-mg-space{
    width:87%;
   }
  
 .wd-image-class{
  width: 100%; 
  height: "400px";
}

.wd-text-over-image{
  text-align: left;
  color: white;
  position: relative;
  bottom: 60px;
  left: 10px;
  font-size: x-large;
}

.wd-unordered-list-tueets{
  list-style-type: none;
}

.wd-unordered-tueets-list-main{
  list-style-type: none;
}

.wd-tuuet-heading{
 color: grey;
 width: 70%;
 text-align: left;
 display: inline;

}

.wd-dots{
  color:grey;
  text-align: right;
  width: 5%;
}

.wd-tueet-name{
 font-weight: bold;
}

.wd-tueets-count{
  color: grey;
}


.wd-child{
  display: inline-block;
}



/* New Bootstrap */

body {
  font-family: Arial;
  margin: 10px;
}

.wd-post-image {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.wd-input {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  margin-right: 12px;
  border: 0;
  font-size: 18px;
  background-color: rgb(231, 234, 238);
}

.wd-input-white {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  margin-right: 12px;
  border: 15;
  font-size: 18px;
  background-color:white;
  border-color: lightgray;
}

.btn-primary {
  background-color: black;
  color: white;
}

#tweet-button {
  background-color: #0d6efd;
}

.active-list-item {
  /* background-color: white; */
  color:black;
}

.wd-nav-bar{
  font-weight: bold;
  color: rgb(110, 118, 125);
}

.wd-nav-tab{
  /* height: 30px; */
  padding: 0%;
  border: 0;
}
.wd-selected-tab{
  color: rgb(29, 161, 242);
  border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-gray {
  color: gray;
  font-weight: bold;
}

.wd-white{
  color: white;
}

.who-to-follow {
  background-color: rgb(231, 234, 238);
  border-radius: 20px;
  /* padding: 10px;
  margin: 10px; */
}

.wd-gray-border{
border-color: lightgrey;
}


 
  




  

  
  

